<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/Theme.SportEncyclopedia"
        tools:targetApi="31">
        <activity
            android:name=".volleyball2Activity"
            android:exported="false" />
        <activity
            android:name=".volleyball1Activity"
            android:exported="false" />
        <activity
            android:name=".tennis2Activity"
            android:exported="false" />
        <activity
            android:name=".tennis1Activity"
            android:exported="false" />
        <activity
            android:name=".swimming2Activity"
            android:exported="false" />
        <activity
            android:name=".swimming1Activity"
            android:exported="false" />
        <activity
            android:name=".hokkei2Activity"
            android:exported="false" />
        <activity
            android:name=".hokkei1Activity"
            android:exported="false" />
        <activity
            android:name=".football2Activity"
            android:exported="false" />
        <activity
            android:name=".football1Activity"
            android:exported="false" />
        <activity
            android:name=".box2Activity"
            android:exported="false" />
        <activity
            android:name=".box1Activity"
            android:exported="false" />
        <activity
            android:name=".baseballActivity"
            android:exported="false" />
        <activity
            android:name=".baseball2Activity"
            android:exported="false" />
        <activity
            android:name=".baseball1Activity"
            android:exported="false" />
        <activity
            android:name=".basketball2Activity"
            android:exported="false" />
        <activity
            android:name=".basketball1Activity"
            android:exported="false" />
        <activity
            android:name=".swimmingActivity"
            android:exported="false" />
        <activity
            android:name=".hokkeiActivity"
            android:exported="false" />
        <activity
            android:name=".footballActivity"
            android:exported="false" />
        <activity
            android:name=".volleyballActivity"
            android:exported="false" />
        <activity
            android:name=".tennisActivity"
            android:exported="false" />
        <activity
            android:name=".basketballActivity"
            android:exported="false" />
        <activity
            android:name=".boxActivity"
            android:exported="false" />
        <activity
            android:name=".SecondActivity"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>